<!-- Copyright © 2020 Lee Kelleher.
   - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<div class="contentment umb-grid-selector" ng-controller="Umbraco.Community.Contentment.DataEditors.ContentBlocks.Controller as vm">
    <div class="umb-grid-selector__items" ui-sortable="vm.sortableOptions" ng-model="model.value">
        <div class="umb-grid-selector__item -sortable" ng-repeat="item in model.value">
            <div class="umb-grid-selector__item-content" ng-click="vm.edit($index)">
                <i class="umb-grid-selector__item-icon" ng-class="item.icon"></i>
                <div class="umb-grid-selector__item-label" ng-bind="vm.populateName(item, $index)"></div>
            </div>
            <div class="umb-grid-selector__item-remove" ng-if="vm.allowRemove">
                <i class="icon icon-trash" ng-click="vm.remove($index)"></i>
            </div>
        </div>
        <a href="#add" class="umb-grid-selector__item -placeholder" ng-if="vm.allowAdd" ng-click="vm.add()" prevent-default>
            <div class="umb-grid-selector__item-content">
                <i class="umb-grid-selector__item-icon icon-add"></i>
                <div class="umb-grid-selector__item-default-label -blue">
                    <localize key="grid_addElement">Add content</localize>
                </div>
            </div>
        </a>
    </div>
</div>
